 * {
            margin: 0;
            padding: 0;
        }

        nav {
            display: grid;
            position: fixed;
            top: 30px;
            left: 10px;
            gap: 35px;
            /* padding: 20px; */
            background-color: rgba(231, 236, 241, 0);
        }

        nav a {
            color: white;
            margin: 3px;
            padding: 10px;
            text-decoration: none;
            border-left: 3px solid white;
            background-color: rgba(0, 0, 0, 0.1);

        }

        #welcome {
            background-color: yellow;
            height: 100vh;
            scroll-behavior: smooth;
        }
        
        #two {
            background-color: indigo;
            height: 100vh;
            scroll-behavior: smooth;
        }
        
        #three {
            background-color: blue;
            height: 100vh;
            scroll-behavior: auto;
        }
        
        #four {
            height: 100vh;
            background-color: bisque;
            scroll-behavior: auto;
        }
        
        #five {
            scroll-behavior: auto;
            height: 100vh;
            background-color: chartreuse;
        }

        .text {
            font-family: 'Arial, sans-serif';
            font-size: 60px;
            fill: #4CAF50;
            /* A nice green color */
            stroke: #2E7D32;
            /* Darker green stroke */
            stroke-width: 2;
        }