<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic Layout</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <!--
        Semantic Tags:
        A semantic element clearly describes its meaning to both the browser and the developer.
        - Helps to keep your code Organized
        - Assists Screen Readers and other Tech for accessibility
        - Better for SEO - Search Engine Optimization
        
        <header>    = Introductory Content
        <nav>       = navigation Bar, Links
        <main>      = Main Content (section aside article)
        <article>   = Independent Content
        <aside>     = Side Content
        <section>   = Dependent Content
        <footer>    = closing Content
    -->

    <header>
        <h1>Bharat</h1>
    </header>

    <nav class="navbar">

    </nav>

    <main>
        <aside>
            <h2>This is an Aside</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat doloribus cum, itaque illo accusantium
                nobis totam aperiam dolor impedit error perspiciatis repellendus sunt aspernatur ipsam odit porro
                reprehenderit ipsum iusto.</p>
        </aside>
        <section>
            <h2>This is an Section</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum incidunt eum totam fugit sit
                inventore, nobis natus dolorem quisquam sapiente vitae dicta assumenda veniam laudantium ut. Perferendis
                quis distinctio eius.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum incidunt eum totam fugit sit
                inventore, nobis natus dolorem quisquam sapiente vitae dicta assumenda veniam laudantium ut. Perferendis
                quis distinctio eius.</p>
        </section>
        <article>
            <h2>This is an Article</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur possimus sint temporibus nihil,
                deserunt reiciendis distinctio fuga numquam itaque, aliquid mollitia similique, et adipisci eius ullam
                aliquam pariatur doloribus inventore.</p>
        </article>

    </main>

    <footer> <h2>Jai Hind!</h2></footer>
</body>

</html>