<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bharat</title>
    <link rel="stylesheet" href="bharat.css">
</head>

<body class="container">
    <header>
        <h2>Bharat</h2>
    </header>

    <nav class="navbar"></nav>

    <main>
        <aside>
            <h2>This is aside</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum laboriosam minima exercitationem
                asperiores, ducimus ab quas, nemo quae hic accusantium commodi cumque. Vel aliquam sapiente dignissimos
                accusantium modi quae quidem!</p>
        </aside>
        <section>
            <h2>This is Section</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum laboriosam minima exercitationem
                asperiores, ducimus ab quas, nemo quae hic accusantium commodi cumque. Vel aliquam sapiente dignissimos
                accusantium modi quae quidem!</p>
        </section>
        <article>
            <h2>This is Article</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum laboriosam minima exercitationem
                asperiores, ducimus ab quas, nemo quae hic accusantium commodi cumque. Vel aliquam sapiente dignissimos
                accusantium modi quae quidem!</p>
        </article>
        <footer>
            <h2>Jai Hind!</h2>
        </footer>

    </main>
</body>

</html>