:root {
    --header-height: 50px; /* Adjust as needed */
    --footer-height: 50px; /* Adjust as needed */
}



body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

main {
    flex-grow: 1;
}

header, footer {
    background-color: lightgray;
    padding: 40px;
}

footer {
    margin-top: auto; /* Pushes footer to the bottom */
}
